.container {
  &.container-xl {
    max-width: $xlarge-screen;
  }
}

.select {
  @extend select;
  padding: 0;

  > div[class*='control'] {
    border: none;
    height: 100%;
    border-radius: 0;
    &:hover {
      border-color: white;
    }
  }
}
