// $no-of-guitar-strings: 6;
// $no-of-bass-strings: 4;
// $no-of-ukelele-strings: 4;

// @mixin fretboardHeight($stringNumber, $height) {
//   height: ($stringNumber * $height);
// }

// .fretboard-guitar {
//   &-xlarge {
//     @include fretboardHeight($no-of-guitar-strings, 40px);
//   }

//   &-large {
//     @include fretboardHeight($no-of-guitar-strings, 30px);
//   }
// }

.fret-note-selected {
  position: relative;

  span {
    background: tomato;
    border-radius: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    padding-top: 8px;
  }

}