$orange: #ffc47ff7;
$green: #94e594;
$ash-gray: #eee;
$blue: blue;

.--root span {
  background: $orange;
}

.--scale span {
  background: $green;
}

.--selected span {
  background: $blue;
}

.fret-row {
  .fret-note.--fret-mark {
    &:not(.highlight):not(.--scale):not(.--root) span {
      background: $ash-gray;
    }

    position: relative;
    z-index: 3;

    &:after,
    &:before {
      content: '';
      position: absolute;
      width: 97.5%;
      height: 50%;
    }
  }

  &:first-child,
  &:last-child {
    .fret-note.--fret-mark {
      &:not(.highlight):not(.--scale):not(.--root) span {
        background: none;
      }
    }
  }

  &:not(:last-child) {
    .fret-note.--fret-mark {
      &:after {
        top: 53%;
        background: $ash-gray;
      }
    }
  }

  &:not(:first-child) {
    .fret-note.--fret-mark {
      &:before {
        bottom: 53%;
        background: $ash-gray;
      }
    }
  }
}